* {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

section {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: rgb(234, 151, 230);
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80px;
  background-color: rgb(235, 200, 184);
}

nav ul {
  display: flex;
  justify-content: center;
}

nav ul li {
  list-style: none;
  margin: 0 23px;
  color: rgb(17, 17, 54);
}
nav li img{
  height: 40px;
  width: 40px;
}

nav ul li:hover {
  color: rgb(153, 153, 226);
  cursor: pointer;
}

.left{
  position: absolute;
  left: 10px;
}

.right{
  display: flex;
  position: absolute;
  right: 100px;
}

.dbleft{
  width: 50%;
  left: 300px;
}

.dbright{
  position: relative;
  right: 30px;
}

section div img {
  top: 20px;
  height: 500px;
  width: 400px;
}

section form button {
  color: white;
  background-color: blueviolet;
  padding: 10px;
}

section form button:hover {
  background-color: rgb(82, 15, 146);
}

section form input {
  color: white;
  background-color: rgb(59, 52, 52);
  padding: 10px;
}